*{
    margin: 0;
    padding: 0;
}

.navbar{
    overflow:hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    padding-bottom: 60px;
  }

.banner{
    margin-top: 15%;
    margin-block: 5%; 
    width: 100%;
    height: 220px;
}
.banner img{
    width: 100%;
    height: 95%;
}
.banner h1{
    width: 180px;
    position: absolute;
    margin-inline: 45%;
    margin-block: 100px;
    color: white;
}

.contact-info{
    display: flex;
    justify-content:space-evenly;
    padding-block: 80px;
    margin-inline: 10%;
    max-width: 90%;
    margin-block: 3%;
    box-shadow: 1px 2px 5px 2px gray;
    border-radius: 5px;

}

.contact-part1{
    max-width: 55%;
    display:flex;
    flex-direction: column;
}
.contact-con{
    max-width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-detail{
    width: 200px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    margin-right: 80px;
}

.contact-detail h3 , .contact-input h3 {
    font-weight: 700;
    font-size: 25px;
} 
.contact-def{
    font-size: 15px;
    font-weight: 300;
    margin-block: 10px;
    color: gray;
}

.contact-def p{
    margin-block: 5px;
}

.contact-input{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contact-input-info{
    display:flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
}
.contact-input-info input{
    width:45%;
    height: 30px;
    padding-block: 5px;
    padding-left: 10px;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background-color: lightgray;
    color: darkgray;
    font-size: 15px;
    border-radius: 5px;
}
.contact-input .message{
    height: 50px;
    padding-block: 5px;
    margin-block: 15px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: darkgray;
    font-size: 15px;
    border-radius: 5px;
}
.contact-input .btn{
    height: 35px;
    padding-block: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
}

.contact-social{
    display: flex;
    justify-content: center;
}

.contact-social img{
    width: 18px;
    height: 18px;
    padding: 5px;
    background-color: azure;
    box-shadow: 1px 2px 5px 10px solid black;
    margin-right: 10px;
    border-radius: 5px;
    margin-block: 10px;
    justify-content: left;

}

.contact-part2{
    width: 40%;
    z-index: 1;
}
