:root {
  --green:rgb(60, 204, 38);
  --pink:rgb(244, 52, 129);
  --yellow:rgb(255, 179, 1);
  --bg-color:rgb(237, 234, 234);
  --nav-color:white;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

.nav {
  top: 0;
  position: sticky;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-color);
  align-items: center;
  padding-inline: 20px;
  padding-block: 5px;
}
.nav .logo {
  padding: 5px;
  width: 160px;
  cursor: pointer;
}
.nav .logo .logo-img {
  width: 130px;
  transition: 1s;
}
.nav .logo .logo-img:hover {
  transform: scale(1.1);
}
.nav .search {
  width: 78%;
  display: flex;
  margin-inline: 10px;
}
.nav .search input {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--bg-color);
}
.nav .search span {
  cursor: pointer;
  background-color: var(--green);
  color: var(--bg-color);
  padding: 5px;
  align-items: center;
  font-size: 32px;
  border-radius: 0px 10px 10px 0px;
}
.nav .search span:hover {
  color: var(--pink);
}
.nav .content {
  display: flex;
  justify-content: space-between;
}
.nav .content span {
  color: var(--green);
  font-size: 35px;
  margin-inline: 10px;
  font-weight: 600;
}
.nav .content div {
  width: 80px;
  display: flex;
  padding: 2px;
  cursor: pointer;
}
.nav .content div .number {
  width: 20px;
  height: 20px;
  background-color: var(--pink);
  font-size: 20px;
  position: relative;
  top: -2px;
  right: 10px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  color: var(--bg-color);
}
.nav .content label {
  width: 70px;
  text-align: center;
  font-size: 22px;
  padding-inline: 5px;
  margin-top: 3px;
}
.nav .content label:hover {
  color: var(--yellow);
}

.login {
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
  width: 100px;
  padding-block: 10px;
  float: right;
  row-gap: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 1px rgb(160, 160, 160);
  visibility: hidden;
  cursor: pointer;
}
.login form input {
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
}
.login form input:hover {
  color: lightgreen;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  padding: 4%;
}
.container .login-container {
  width: 80%;
  display: flex;
  height: 75vh;
  box-shadow: 1px 2px 5px 2px rgb(193, 193, 193);
}
.container .login-container .part1 {
  width: 45%;
  text-align: center;
  padding-block: 6%;
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  color: var(--nav-color);
}
.container .login-container .part1 .logo img {
  width: 200px;
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 15px;
  transition: 1.5s;
}
.container .login-container .part1 .logo img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.container .login-container .part1 .login-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 10%;
}
.container .login-container .part1 .login-text h1 {
  font-size: 38px;
  text-align: center;
}
.container .login-container .part1 .login-text p {
  padding-block: 20px;
  font-size: 16px;
}
.container .login-container .part2 {
  width: 45%;
  padding-inline: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .login-container .part2 h1 {
  font-size: 38px;
  margin-block: 30px;
}
.container .login-container .part2 form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .login-container .part2 form .inputbox {
  font-size: 18px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-block: 10px;
  outline: none;
  border: 1px solid lightgray;
}
.container .login-container .part2 form .forget-link {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
}
.container .login-container .part2 form .forget-link a {
  color: rgb(125, 125, 125);
}
.container .login-container .part2 form .forget-link a:hover {
  color: var(--yellow);
}
.container .login-container .part2 form .login-btn {
  background-color: var(--yellow);
  color: var(--nav-color);
  border: none;
  font-weight: 600;
}
.container .login-container .part2 form .login-btn:hover {
  background-color: var(--green);
  cursor: pointer;
}
.container .login-container .part2 p {
  margin-block: 15px;
}
.container .login-container .part2 .login-social {
  display: flex;
}
.container .login-container .part2 .login-social h2 {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 10px;
  margin-inline: 10px;
  font-weight: 800;
  color: var(--nav-color);
  border-radius: 10px;
}
.container .login-container .part2 .login-social .facebook {
  background-color: rgb(107, 107, 253);
  cursor: pointer;
}
.container .login-container .part2 .login-social .google {
  background-color: rgb(255, 61, 61);
  cursor: pointer;
}
.container .login-container .part2 .create-link {
  margin-block: 25px;
}
.container .login-container .part2 .create-link a {
  color: var(--green);
}
.container .login-container .part2 .create-link a:hover {
  cursor: pointer;
  color: var(--yellow);
}/*# sourceMappingURL=nav.css.map */