/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.error{
    color: red;
}
.checkout-container{
    display:flex;
    margin-top: 3%;
    flex-direction: column;
    padding-block: 2%;
    padding-inline: 2%;
}
.checkout-part1{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.checkout-part1 h3{
    font-size: 20px;
    font-weight: 600;
    padding-block: 6px;
}

.checkout-part1 form{
    display: flex;
    flex-direction: column;
}

.collection-slot{
    display: flex;
    margin-left: 20px;
    margin-block: 10px;
}

.collection-slot label{
    font-size: 15px;
    width: 80px;
    padding-block: 5px;
}
.collection-slot select{
    width: 200px;
    padding: 5px;
    outline: none;
    /* border: none; */
    border-radius: 5px;
    background-color: transparent;
}

h6{
    padding-block: 5px;
}
.order-container{
    margin-top: 1.5%;
    width: 100%;
    overflow-x: scroll;
}

.order-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .order-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

.order-container table{
    color: black;
    border: none;
    min-width: 100%;
}

.order-container table tr th{
    background-color: rgb(239, 155, 0);
    color: white;
    min-width: 150px;
    padding-inline:50px;
    padding-block: 10px;
}
.order-container table tr td{
    text-align: center;
    padding-inline:20px;
    padding-block: 20px;
    font-size: 15px;
    border-bottom: 5px solid  rgb(255, 166, 0);
}
.order-container table tr td .action {
    display: flex;
    gap: 1rem;
    padding-inline: 5px;
}
.order-container table tr td .action a{
    text-decoration: none;
    padding-inline:20px ;
    padding-block: 8px;
    border-radius: 5px;
    background-color: rgb(255, 166, 0);
    color:white;
}

.order-container table tr td .action a:hover{
    background-color: rgb(66, 255, 255);
    color:rgb(0, 0, 0);
}

.img img{
    width: 60px;
}
.order-summary{
    margin-block:2%;
    padding-inline: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.total-items{
    display: flex;
    justify-content: space-between;
}

.place-btn{
    margin-top: 3%;
    display: flex;
    justify-content: right;
}
.place-btn input{
    font-size: 20px;
    padding-inline: 25px;
    padding-block: 8px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
}

.order-slot{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.order-data{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.order-slot button{
    padding-inline: 30px;
    border: 5px;
    padding-block: 5px;
    font-size: 18px;
    background-color: orange;
    color:white;
    border-radius: 10px;
    height: 100%;
}

/* Pay Now */

.payment{
    width: 350px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 150px;
    margin-inline: 40%;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment h3{
    font-size: 30px;
}
.payment h4{
    font-size: 20px;
}

.payment img{
    width: 100px;
    margin-bottom: 10px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-block: 0.3rem;
}
.input-box label{
    font-size: 18px;
}

.input-box input{
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    border:1px solid gray;
}
.total{
    display: flex;
    justify-content: space-between;
}

.pay-btn{
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    border:1px solid gray;
    background-color: orange;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    margin-block: 10px;
}

/* Responsive */
@media screen and (max-width:420px) {
    .payment{
        margin-inline: 5%;
        width: 300px;
        top: 60px;
        padding-inline: 1rem;
    }
    /* .checkout-container{
        margin-top: 35%;
    } */
        
}
