/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact .nav-bar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px lightgray;

}

.contact-container{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
    margin-top: 10%;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(rgb(255, 188, 64),rgb(255, 119, 0),rgb(255, 119, 0));
}
.banner img{
    width: 20%;
}
.banner h1{
    padding-block: 5px;
    margin-block: 25px;
    color: white;
}

.contact-info{
    display: flex;
    justify-content:space-evenly;
    padding-block: 80px;
    margin-inline: 5%;
    padding-inline: 2% ;
    width: 85%;
    margin-block: 3%;
    box-shadow: 1px 2px 5px 2px gray;
    border-radius: 5px;
}

.contact-part1{
    width: 55%;
    display:flex;
    flex-direction: column;
}
.contact-con{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-detail{
    width: 250px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    margin-right: 80px;
}

.contact-detail h3 , .contact-input h3 {
    font-weight: 700;
    font-size: 25px;
    padding-block: 5px;
} 
.contact-def{
    font-size: 15px;
    font-weight: 300;
    margin-block: 10px;
    color: gray;
}

.contact-def p{
    margin-block: 5px;
}

.contact-input{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contact-input-info{
    display:flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
}
.contact-input-info input{
    width:45%;
    height: 30px;
    padding-block: 5px;
    padding-left: 10px;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background-color: lightgray;
    color: rgb(75, 75, 75);
    font-size: 15px;
    border-radius: 5px;
}
.contact-input .message{
    /* height: 50px; */
    padding-block: 5px;
    margin-block: 15px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: rgb(75, 75, 75);
    font-size: 15px;
    border-radius: 5px;
}
.contact-input .btn{
    height: 35px;
    padding-block: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
}

.contact-social{
    display: flex;
    justify-content: center;
}

.contact-social img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 2px solid orange;
    margin-right: 10px;
    border-radius: 10px;
    margin-block: 10px;
    justify-content: left;
}
#twitter{
    width: 45px;
}

.contact-part2{
    width: 40%;
    z-index: 1;
}

/* Responsive */
@media screen and (max-width:420px) {

    .contact-info{
        flex-direction: column;
        row-gap: 30px;
        box-shadow: none;
    }
    
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    width: 100%;
    height: 130px;
}
.banner img{
    width: 120px;
    height: 120px;
}

.banner h1{
    font-size: 25px;
    margin-block: 40px;
    z-index: 2;
}

    .contact-part1{
        width: 100%;

    }
    .contact-part2{
        width: 100%;
    }
}