/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
:root {
  --green:rgb(60, 204, 38);
  --pink:rgb(244, 52, 129);
  --yellow:rgb(255, 179, 1);
  --bg-color:rgb(237, 234, 234);
  --nav-color:white;
}

.nav-bar{
  overflow:hidden;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 0px 5px 2px lightgray;
  background-color: #e19c08;
}


.home-container .header-title{
  display: flex;
  margin-inline: 1.5rem;
  justify-content: space-between;
  padding-block: 10px;
  margin-top: 1rem;
}
.home-container .header-title h3{
  font-size: 35px;
  font-weight: 600;
  padding-block: 5px;
}
.home-container .header-title a{
  text-decoration: none;
  padding-top: 30px;
  color: var(--pink);
  font-weight: 600;
  padding-right: 1rem;
}

/* trending container */
.home-container .trending-container{
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  gap: 2rem;
  margin-inline: 1rem;
  padding: 5px;
}
.trending-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.trending-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.home-container  .trending-container .single-container{
  border: 1px solid rgb(231, 231, 231);
  padding:1rem; 
  border-radius: 5px;
  min-width: 220px;
}

.home-container  .trending-container .single-container:hover{
 box-shadow: 3px 3px 10px 4px lightgray;
}

.home-container  .trending-container .single-container .image{
  width: 200px;
  height: 170px;
}

.home-container  .trending-container .single-container .image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.home-container .trending-container .single-container h5{
  padding-block: 5px;
  font-weight: 600;
}

.home-container .trending-container .single-container p{
  font-weight: 600;
}
.home-container .trending-container .single-container .btn{
  width: 190px;
  background-color: var(--yellow);
  text-align: center;
  color: white;
  font-weight: 600;
}

/* shop container */
.home-container .shop-title{
  text-align: center;
  padding-block: 2rem;
}
.home-container .shop-title h3{
  padding-block: 5px;
  font-size: 35px;
  font-weight: 600;
}

.shop-container  {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  gap: 2rem;
  margin-inline: 1rem;
  padding: 5px;
}
.shop-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.shop-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.shop-container  .single .img {
  background: #eee;
  width: 200px;
  height: 200px;
}
.shop-container  .single .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-container  .single {
  min-width:200px;
  width: 200px;
  text-decoration: none;
}

.shop-container  .single:hover {
  box-shadow: 3px 3px 10px 4px rgb(180, 179, 179);
}

.shop-container  .logo {
  background: white;
  border: 1px solid #eee;
  width: fit-content;
  width: -moz-fit-content;
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  transform: translateY(-3rem);
  border-radius: 6px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  margin: auto;
  display: grid;
  place-items: center;
}

.shop-container  .logo img {
  object-fit: cover;
  
}

.shop-container  .single .summary {
  transform: translateY(-3rem);
  text-align: center;
  font-family: "Nunito";
}

.shop-container  .single .summary h2 {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding-block: 5px;
}

/* offer products */

.offer-container  {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  gap: 2rem;
  margin-inline: 1rem;
  padding: 5px;
}

.offer-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.offer-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.offer-container  .single {
  height: 400px;
  min-width: 200px;
  border-radius: 5px;
}
.offer-container  .single:hover {
  box-shadow: 3px 3px 10px 4px rgb(180, 179, 179);
}

.offer-container  .single .img {
  position: relative;
  object-fit: contain;
  object-position: center;
  border: 1px solid #c5c5c5b0;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
}

.offer-container  .single .offer {
  position: absolute;
  top: 10px;
  right: 0;
  background: #ff187c;
  color: white;
  padding: 4px;
  font-family: "Nunito";
  font-weight: bold;
  width: 6rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.offer-container  .single .content {
  margin: 10px;
}

.offer-container  .single .content h5 {
  font-weight: 600;
  font-family: "Nunito";
  font-size: 20px;
  margin: 0.5rem auto;
}

.offer-container  .single .content span {
  text-transform: lowercase;
  font-size: 17px;
}

.offer-container  .single .content .price {
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #323e6b;
}

.offer-container  .single .content .price .cut,
.offer-container  .single .content .price .main {
  font-size: 20px;
  font-family: "Nunito";
  font-weight: bold;
}

.offer-container  .single .content .price .cut {
  text-decoration: line-through;
  opacity: 0.6;
}

.offer-container  .single .content .btn {
  width: 100%;
  background: #ffae00;
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 6px 0;
}

.offer-container  .single .content button:hover {
  background: #e19c08;
}

/* Other products */

.center{
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}
.center a{
  padding-block: 5px;
  background-color: var(--yellow);
  color: white;
  padding-inline: 50px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
} 

.other-main .product-lists  .single  .offer {
  position: absolute;
  margin-top: -210px;
  margin-left: 130px;
  background: #ff187c;
  color: white;
  z-index: 1;
  padding: 4px;
  font-family: "Nunito";
  font-weight: bold;
  width: 6rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}


.other-main .product-lists  .single  .outofstock {
  position: absolute;
  z-index: 1;
  margin-top: -210px;
  margin-left: 130px;
  background: #949494;
  color: white;
  padding: 4px;
  font-family: "Nunito";
  font-weight: bold;
  width: 6rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

/* Product Page */

.product-container
{
  margin-top: 10%;
  margin-bottom: 5%;
}
.product-container .product-header h3{
  padding-block: 5px;
  margin-inline: 3%;
}
.product-container .product-header span{
  color: var(--yellow);
  padding-right: 10px;
}
.product-lists  {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 2rem;
  margin-inline: 3%;
  padding: 5px;
}

.product-lists  .single {
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.product-lists  .single:hover {
  box-shadow: 3px 3px 10px 4px rgb(180, 179, 179);
}

.product-lists  .single .img {
  border: 1px solid #c5c5c5b0;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  width: 250px;
  height: 250px;
  padding-inline:2rem ;
}

.product-lists  .single .img img{
  width: 180px;
  margin-top: 1.1rem;
  height: 180px;
  align-items: center;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  transition: 0.8s;
}

.product-lists  .single .img img:hover{
transform: scale(1.2);

}

.product-lists  .single  .offer {
  position: absolute;
  margin-top: -210px;
  margin-left: 122px;
  background: #ff187c;
  color: white;
  z-index: 1;
  padding: 4px;
  font-family: "Nunito";
  font-weight: bold;
  width: 6rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.product-lists  .single  .outofstock {
  position: absolute;
  z-index: 1;
  margin-top: -210px;
  margin-left: 122px;
  background: #949494;
  color: white;
  padding: 4px;
  font-family: "Nunito";
  font-weight: bold;
  width: 6rem;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.product-lists  .single .content {
  margin: 10px;
}

.product-lists  .single .content h5 {
  font-weight: 600;
  font-family: "Nunito";
  font-size: 20px;
  margin: 0.5rem auto;
  width: 230px;
  word-wrap: break-word;  
}

.product-lists  .single .content span {
  text-transform: lowercase;
  font-size: 17px;
}

.product-lists  .single .content .price {
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #323e6b;
}

.product-lists  .single .content .price .cut,
.product-lists  .single .content .price .main {
  font-size: 20px;
  font-family: "Nunito";
  font-weight: bold;
}

.product-lists  .single .content .price .cut {
  text-decoration: line-through;
}

.product-lists  .single .content .btn {
  width: 100%;
  background: #ffae00;
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 6px 0;
  text-align: center;
}

#outstock{
  background: #949494;
} 

.product-lists  .single .content a{
  text-decoration: none;
}

.product-lists  .single .content button:hover {
  background: #e19c08;
}


/* Responsive */
@media screen and (max-width:420px) {
  .home-container .header-title h3{
    font-size: 20px;
  }
  .home-container .header-title a{
    margin-top: -0.5rem;
  }

.other-main .product-lists  .single  .offer {
  margin-top:-280px;
  margin-left: 220px;
}


.other-main .product-lists  .single  .outofstock {
  margin-top:-280px;
  margin-left: 220px;
}

  /* product page */
  
  .product-container
{
  margin-top: 35%;
}
.product-lists  .single .content h5 {
  margin:unset;
}
.product-lists  .single {
  min-width: 350px;
}

.product-lists  .single .img {
  height: 350px;
  width: 400px;
  padding-inline:3rem ;

}
.product-lists  .single .img img{
  margin-top: 2.2rem;
  width: 270px;
  height: 270px;
}

.product-lists  .single  .offer {
  margin-top:-280px;
  margin-left: 210px;
}

.product-lists  .single  .outofstock {
  margin-top:-280px;
  margin-left: 210px;
}

}