/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

:root {
  --green:rgb(60, 204, 38);
  --pink:rgb(244, 52, 129);
  --yellow:rgb(255, 179, 1);
  --bg-color:rgb(237, 234, 234);
  --nav-color:white;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}


.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-color);
  align-items: center;
  padding-inline: 20px;
  padding-block: 5px;
}
.nav .logo {
  flex:1;
  padding: 5px;
  width: 160px;
  cursor: pointer;
}
.nav .logo .logo-img {
  width: 130px;
  transition: 1s;
}
.nav .logo .logo-img:hover {
  transform: scale(1.1);
}
.nav .search {
  flex:2;
  justify-content: center;
  width: 60%;
  display: flex;
  margin-inline: 10px;
}
.nav .search input {
  width: 100%;
  font-size: 16px;
  height: 35px;
  padding-left: 15px;
  border: 1px solid gray;
  outline: none;
  border-radius: 35px;
  background-color:transparent;
}
.nav .search span {
  position: relative;
  right: 55px;
  cursor: pointer;
  color: black;
  padding-block: 5px;
  align-items: center;
  font-size: 32px;
  border-radius: 0px 10px 10px 0px;
}

.nav .search span:hover {
  color: var(--pink);
}

.nav .links-container{
  justify-content: right;
  display: flex;
}

.nav .links-container .links-btn{
  display: flex;
}
.nav .links-container .links-btn a{
  margin-inline:10px;
  font-size: 15px;
  font-weight: 600;
  padding-block: 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding-inline: 20px;
  text-decoration: none;
}

.nav .links-container .links-btn a:hover{
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.nav .links-container .links-btn #signup-link{
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 20px;
  background-color: var(--yellow);
}
.nav .links-container .links-btn #signup-link:hover{
  cursor: pointer;
  background-color:var(--green);
}
.nav .content {
  display: flex;
  margin-inline: 20px;
  justify-content: space-between;
}
.nav .content a{
  text-decoration: none;
}
.nav .content span {
  color: black;
  font-size: 30px;
  margin-inline: 13px;
  font-weight: 300;
}
.nav .content div {
  display: flex;
  margin-inline: 5px;
}
.nav .content div:hover p{
  cursor: pointer;
  text-decoration: underline;
  color: var(--yellow);
}

.nav .content div:hover span{
  color:var(--yellow)
}

.nav .content div .number {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: var(--yellow);
  font-size: 10px;
  position: absolute;
  top: 23px;
  align-items:center;
  border-radius: 50%;
  color: white;
}

.nav .content div p{
  display: flex;
  position: relative;
  left: -15px;
  /* top: -5px; */
  align-items: center;
  color: black;
}

.signup {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
  width: 90px;
  padding-block: 10px;
  float: right;
  right: 280px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 1px rgb(160, 160, 160);
  display: none;
  cursor: pointer;
}
.signup a{
  padding-inline: 10px;
  margin-block: 10px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.signup a:hover {
  color: var(--yellow);
  text-decoration: underline;
  cursor: pointer;
}

/* drop down */

.category{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  padding-block:10px;
  border-top: 1.5px solid var(--bg-color);
}

.category::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.category {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.category a{
  text-decoration: none;
  color: black;
  margin-inline: 1rem;
  min-width: 125px;
}

.category .category-link{
 
  display: flex;
  justify-content: space-around;
}

.category .category-link:hover{
  cursor: pointer;
  color: var(--yellow);
}

.menu{
  display: none;
}

.profile{
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--yellow);
}

#lgsearch{
  display: block;
  padding-block: 20px;
}
#smsearch{
  display: none;
  padding-block: 20px;
}

/* Responsive */

@media screen and (max-width:420px) {
  .menu{
    width: 5%;
    display: block;
  }
  .menu span{
    font-size: 25px;
    padding-block:10px ;
  } 
  .logo{
    display: none;
  }
  .profile{
    display: none;
  }
  .nav{
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }

  .nav .search{
    width: 80%;
    margin-inline: 0px;
    padding-inline: 0px;
  }
  .nav .search .input{
    width: 100%;
    padding-block: 2px;
    font-size: 13px;
  }
  .nav .links-container{
    width: 20%;
  }
  .links-btn{
    width: unset;
  }
  .nav .content {
    display: flex;
    margin-inline: 0px;
    column-gap: 2px;
  }
  .nav .content span {
    padding-block: 5px;
    color: black;
    font-size: 30px;
    margin-inline: 5px;
  }
  .nav .content div {
    display: flex;
    margin-inline: 0px;
  }

  .nav .links-container .links-btn{
    display: none;
  }
  .nav .links-container div p{
    display: none;
  }
  .category{
    width: 100%;
    justify-content: unset;
  }

  .dropdown{
    width: 120px;
  }

  #lgsearch{
    display:none;
    padding-block: 20px;
  }
  #smsearch{
    display: block;
    padding-block: 10px;
  }
  .offcanvas-header img{
    width: 100px;
  }
  .offcanvas{
    background-color: rgb(238, 237, 237);
  }
  
  .offcanvas .line{
    background-color: lightgray;
    height: 2px;  
  }
  .offcanvas-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    font-size: 20px;
  }
  .offcanvas-body .create{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  }
  .offcanvas-body .create a{
    text-decoration: none;
  }

  .offcanvas-body .profile-links{
    display: none;
  }

}