/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.order-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.order-container h3{
font-size: 25px;
}
.order-container table{
    width: 100%;
}

.head{
    font-size: 20px;
    font-weight: 600;
}

.order-container tr,td{
    text-align: center;
    padding-block: 10px;
    font-size: 18px;
}

.links-btn{
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.links-btn a:hover{
    color: orange;
}