/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

:root {
    --green:rgb(60, 204, 38);
    --pink:rgb(244, 52, 129);
    --yellow:rgb(255, 179, 1);
    --bg-color:rgb(237, 234, 234);
    --white:white;
    --lightgray:rgb(165, 165, 165);
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom:60px ;
    background-color: transparent;
  }

.product-container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    justify-content: center;
    margin-inline: 10%;
    margin-top: 10%;
    margin-bottom: 4%;
}
.product-detail{
    display: flex;
    max-width: 100%;
    margin-block:30px ;
    padding-block: 5px;
}
.product-part1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.product-image img{
    width: 90%;
   
}
.product-samples{
    display:flex;
    padding-block: 30px;
    justify-content: center;
}   

.product-samples img{
    width: 7%;
    border-radius: 5px;
    margin-inline: 2%;
    border: 1px solid lightgray;
}

.product-samples img:nth-child(1){
    border-color:var(--pink) ;
}

.product-part2{
    display:flex;
    flex-direction: column;
    width: 40%;
    padding-inline: 3%;
    padding-block: 5%;
    box-shadow: 1px 3px 5px 2px lightgray;
    border-radius: 5px;
    line-height: 15px;
    row-gap: 10px;
}

.product-shop{
    display: flex;
    column-gap:10px ;
    padding: 5px;
}

.product-shop h5{
    padding-block: 25px;
    padding-inline: 15px;
    box-shadow: 1px 3px 5px 2px lightgray;
    align-items: center;
    border-radius: 5px;
    color: var(--yellow);
}
.shop-info{
    line-height: 25px;
}

.shop-info p{
    color: gray;
}

.product-part2 span, h2{
    font-weight: 600;
    padding-block: 5px;
}

.product-price{
    color:rgb(26, 43, 111);
    display:flex ;
}
.product-price h3{
    padding-block: 5px;
}
.product-quantity{
    display: flex;
    column-gap: 10px;
}

.product-quantity h4{
    font-size: 20px;
    padding-block: 5px;
}

.product-quantity button{
    width: 25px;
    height: 25px;
    border:1px solid lightgray;
    border-radius: 50%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    margin-block: 20px;
}

.buttons button{
    width: 45%;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}
.buttons button:nth-child(1){
    background-color: var(--yellow);
    color: white;
}
.buttons button:nth-child(2){
    background-color: transparent;
    color: black;
    border: 1px solid gray;
}


.product-desc, .product-rating, .product-reviews{
    width: 95%;
    padding-inline: 2.5%;
    margin-block: 10px;
    padding-block: 20px;
    flex-wrap: wrap;
    box-shadow: 1px 3px 5px 2px lightgray;
    border-radius: 5px;
}
.product-desc h3 , p{
    padding-block: 10px;
}

.product-stars{
    display: flex;
    justify-content: space-between;
}

.stars span{
    color: gray;
    padding-block: 5px;
}
.product-stars button{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-inline: 20px;
    color: white;
}

.display-review{
    display: flex;
    width: 95%;
    margin-top: 15px;
    padding-inline: 2.5%;
    padding-block: 15px;
    box-shadow: 1px 3px 5px 2px lightgray;
    border-radius: 5px;
    column-gap: 5px;
}
.display-review h4{
    width: 20%;
    padding-inline: 10px;
}

.write-review{
    display: flex;
    justify-content: space-between;
}
.write-review input{
    width: 85%;
    padding:15px;
    padding-bottom: 100px;
    outline: none;
    border:1px solid lightgray ;
    border-radius: 5px;
    margin-block: 30px;  
    background-color: rgb(248, 246, 246);
}

.write-review button{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 15%;
    position: relative;
    top: 100px;
    margin-block: 10px;
    margin-inline: 20px;
    padding-inline: 20px;
    color: white;
}

.display-product{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: 2.5%;
    margin-bottom: 3%;
}
.product-view{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.product-view a{
    color: var(--pink);
    margin-block: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: -15px;
}
.product-related{
    padding-block: 10px;
    padding-inline: 10px;
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    box-shadow: 1px 3px 5px 2px lightgray;
    border-radius: 5px;
    row-gap: 5px;
}

.product-info h3{
    font-weight: 550;
}

.product-pp{
    display: flex;
    column-gap: 10px;
}
.product-pp h3{
    font-weight: 550;
}

.product-info button{
    background-color: var(--yellow);
    padding-block: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    color: var(--white);
}

.offer{
    position: absolute;
    width: 120px;
}

.offer p{
    padding-left: 12px;
    background-color: var(--lightgray);
    color:var(--white);
    border-radius: 5px;
}


/* Responsive */
@media screen and (max-width:420px) {
    .product-container{
        margin-inline: 3%;
    }
    .product-detail{
        flex-direction: column;
    }
    .product-part1{
        width: 100%;
    }
    .product-image img{
        width: 100%;
    }
    .product-samples img{
        width: 15%;
    }
    .product-part2{
        width: 100%;
        box-shadow: none;
        padding-inline: 0%;
        margin-bottom: -70px;
    }
    .product-quantity button{
        margin-top: 27px;
    }
    .product-desc, .product-rating, .product-reviews{
        width: 93%;
        padding-inline: 0%;
        box-shadow:none;
    }
    .display-review{
        width: 100%;
        padding-inline:0%;
        padding-block: 15px;
        box-shadow: none;
    }
    .display-review{
        flex-direction: column;
    }
    .display-review h4{
        margin-bottom: -10px;
        width: 100%;
        padding-left: 0px;
    }
    .write-review{
        width: 100%;
        flex-direction: column;
    }
    .write-review input{
        width: 95%;
        padding-bottom: 150px;
        margin-bottom: -100px;
    }
    .write-review button{
        width: 150px;
        margin-bottom: 20%;
    }
    .display-product{
        width: 100%;
        margin-inline: 1%;
    }
    .product-view{
        width: 100%;
    }
    .product-view h3{
        width: 200px;
    }
    .product-view a{
        top: 15px;
    }
    .product-info{
        width: 100px;
        height: 250px;
        row-gap:5px;
    }
    .product-info h3{
        font-size: 13px;
        margin-bottom: -5px;
    }
    .product-info h4{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .product-pp {
        margin-top: -10px;
    }
    .product-pp h3{
        font-size: 12px;
    }
    .offer{
        width: 80px;
    }
    
    .offer p{
        font-size: 12px;
        padding: 5px;
    }
}