/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px lightgray;
}
