/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

:root {
    --green:rgb(60, 204, 38);
    --pink:rgb(244, 52, 129);
    --yellow:rgb(255, 179, 1);
    --bg-color:rgb(237, 234, 234);
    --nav-color:white;
  }
  
*{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.error{
  color: red;
}
.form-data{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block: 10px;
}
.form-data label{
  margin-bottom: -8px;
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
}
.form-data span{
  font-size: 12px;
}

   .login-container {
    width: 100%;
    display: flex;
  }
   .login-container .part1 {
    width: 45%;
    text-align: center;
    padding-block: 6%;
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    color: var(--nav-color);
  }
   .login-container .part1 .logo img {
    width: 30%;
    background-color: var(--nav-color);
    padding: 20px;
    border-radius: 15px;
  }

   .login-container .part1 .login-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 10%;
  }
   .login-container .part1 .login-text h1 {
    font-size: 38px;
    text-align: center;
  }
   .login-container .part1 .login-text p {
    padding-block: 20px;
    font-size: 16px;
  }
   .login-container .part2 {
    width: 45%;
    padding-inline: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .login-container .part2 h1 {
    font-size: 38px;
    margin-block: 30px;
  }
   .login-container .part2 form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .login-container .part2 form .inputbox {
    font-size: 15px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 5px;
    margin-block: 10px;
    outline: none;
    border: 1px solid lightgray;
  }
  .optionbox{
    width: 100%;
    color: gray;
  }
  .input-name .input-name .form-data .inputbox{
    width: 50%;
  }

  #birthday{
    color: gray;
  }

  .login-container .part2 form .input-name{
    display: flex;
    justify-content: space-between;
  }

  .login-container .part2 form .terms-condition{
    display: flex;
    column-gap: 5px;
  }

   .login-container .part2 form .login-btn {
    background-color: var(--yellow);
    color: var(--nav-color);
    border: none;
    font-weight: 600;
  }
   .login-container .part2 form .login-btn:hover {
    background-color: var(--green);
    cursor: pointer;
  }
   .login-container .part2 p {
    margin-block: 10px;
  }
   .login-container .part2 .login-social {
    display: flex;
  }
   .login-container .part2 .login-social h2 {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    margin-inline: 10px;
    font-weight: 800;
    color: var(--nav-color);
    border-radius: 10px;
  }
   .login-container .part2 .login-social .facebook {
    background-color: rgb(107, 107, 253);
    cursor: pointer;
  }
   .login-container .part2 .login-social .google {
    background-color: rgb(255, 61, 61);
    cursor: pointer;
  }
   .login-container .part2 .create-link {
    display: flex;
    margin-block: 10px;
  }
   .login-container .part2 .create-link a{
    padding-left: 5px;
    padding-top: 8px;

   }

   .create-link .a:nth-child(2){
    padding-block: 5px;
    padding-inline: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
   }
  
   .create-link .a:nth-child(2):hover{
    color: var(--yellow);
   }

   /* otp verification */
   
   /* otpcode */
   .otp-container {
    border: 1px solid rgb(238, 236, 236);
    width: 400px;
    padding: 1%;
    opacity: 1;
    position: absolute;
    top:100px;
    margin-inline: 35%;
    transition: opacity 0.6s;
    z-index: 2;
    background-color: white;
  }

  .otp-container .error{
    padding-left: 1rem;
  }

  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: var(--pink);
  }

  .otp-container h1 {
    text-align: center;
    color: rgb(61, 51, 70);
  }
  .otp-container p {
    text-align: center;
    color: gray;
  }
  .numbers {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .numbers input {
    width: 20px;
    font-size: 20px;
    border-radius: 5px;
    color: gray;
    outline: none;
    padding: 5px;
    padding-inline: 10px;
    border: 1px solid lightgray;
    text-align:center;
  }
  
  .resend {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--pink);
    font-weight: 600;
  }
  .verify-btn {
    width: 100%;
    padding-block: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--nav-color);
    font-weight: 700;
    font-size: 20px;
  }
  .password{
    width: 100%;
    padding-block-end: 1rem;
  }
  .password input{
    width:90%;
    margin-inline: 5%;
    font-size: 15px;
    border-radius: 5px;
    color: gray;
    outline: none;
    padding: 5px;
    padding-inline: 10px;
    border: 1px solid lightgray;
    /* text-align:center; */
  }
  .verify-image{
    /* max-width: 100%; */
    width: 100%;
    overflow-x: hidden;
    opacity: 0.5;
  }
  .verify-image img{
    object-fit: cover;
    width: 100%;
  }
    /* Responsive */

    @media screen and (max-width:450px){
      .login-container .part1{
        display: none;
      }
      .verify-image{
        display: none;
      }
      .login-container .part2{
        width: 100%;
      }
      .otp-container {
        width: 350px;
        position: absolute;
        top:200px;
        margin-inline: 2%;
      }
  
    }