/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.terms .navbar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom:60px ;
    background-color: transparent;
}
.policy .navbar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom:60px ;
    background-color: transparent;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
    margin-top: 10%;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(rgb(255, 188, 64),rgb(255, 119, 0),rgb(255, 119, 0));
}
.banner img{
    width: 20%;
}
.banner h1{
    padding-block: 5px;
    margin-block: 25px;
    color: white;
}

.terms-condition, .policy-condition{
    width: 90%;
    margin-inline: 5%;
    margin-block-end: 5%;
    padding-top: 1rem;
}

.terms-condition p{
    padding-block: 20px;
}
.terms-condition h3{
    padding-block: 5px;
}
.policy-condition h3{
    padding-block: 10px;
}
.policy-condition p{
    color: gray;
}

/* Responsive */
@media screen and (max-width:420px) {

    .contact-info{
        flex-direction: column;
        row-gap: 30px;
        box-shadow: none;
    }
    
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    width: 100%;
    height: 130px;
}
.banner img{
    width: 120px;
    height: 120px;
}

.banner h1{
    font-size: 20px;
    margin-block: 40px;
    z-index: 2;
    margin-left: -30px;
}

    .contact-part1{
        width: 100%;

    }
    .contact-part2{
        width: 100%;
    }
}