*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --green:rgb(60, 204, 38);
    --pink:rgb(244, 52, 129);
    --yellow:rgb(255, 179, 1);
    --bg-color:rgb(237, 234, 234);
    --white:white;
}
.overview-container{
    display: flex;
    margin-inline: 5%;
    padding-block: 2%;
    flex-direction: column;
}

.trader{
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
}
.trader a{
background-color: rgb(248, 230, 172);
padding: 15px;
border-radius: 5px;
border: 1px solid orange;
color: orange;
text-decoration: none;
}

.trader-report{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 2%;
    padding-block-end: 2%;
}
.trader-info{
    color: rgb(160, 160, 160);
}
.trader-info label{
    color:black;
}

.report{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 1px 2px 5px 2px lightgray;
    border-radius: 10px;
}
.report-info{
    display: flex;
    flex-direction: column;
}

.report-info h3{
    font-size: 25px;
}
.report-info p{
    color: gray;
}

.icons{
    color: white;
    padding: 20px;
    border-radius:50% ;
    background-color: var(--yellow);
}

