/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.invoice-container{
    width: 90%;
    margin-inline: 5%;
    margin-block: 2rem;
}
.invoice-container .logo h3{
    font-size: 25px;
}
.invoice-container .logo{
    display: flex;
    justify-content: space-between;
}
.invoice-container .logo img{
    width: 100px;
    margin-right: 2.5rem;
}

.invoice-details{
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
}
.invoice-details h4{
    padding-block: 0.5rem;
}
.invoice-details p, .invoice-container p{
    font-size: 13px;
}

table{
    width: 100%;
    margin-block: 20px;
}

#heading{
    font-weight: 600;
}

table td{
    padding: 5px;
}