/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green:rgb(60, 204, 38);
    --pink:rgb(244, 52, 129);
    --yellow:rgb(255, 179, 1);
    --bg-color:rgb(237, 234, 234);
    --white:white;
}
.overview-container{
    display: flex;
    margin-inline: 5%;
    padding-block: 2%;
    flex-direction: column;
}

.trader{
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
}
.trader a{
    background-color: rgb(248, 230, 172);
    padding-block: 5px;
    padding-inline: 10px;
    margin-bottom: 120px;
    border-radius: 5px;
    border: 1px solid orange;
    color: orange;
    text-decoration: none;
}

.trader-report{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 2%;
    padding-block-end: 2%;
    height: 420px;
    overflow-y: scroll;
}
.trader-info{
    color: rgb(160, 160, 160);   
}
.trader-info h2{
    padding-block: 5px;
}

.trader-info label{
    color:black;
    position: relative;
    top: 10px;
    padding-block: 5px;
}

.report{
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 1px 2px 5px 2px lightgray;
    border-radius: 10px;
}
.report-info{
    display: flex;
    flex-direction: column;
}

.report-info h3{
    font-size: 25px;
    padding-block: 5px;
}
.report-info p{
    color: gray;
}

.icon{
    width: 80px;
    height: 80px;    
    border-radius:50% ;
    background-color: var(--yellow);
}

.icon span{
    color: white;
    font-size: 35px;
    margin-block:14px;
    margin-inline:17px;
}

@media screen and (max-width:420px) {
    .trader a{
        position:relative;
        top: 20px;
        width: 200px;
        font-size: 14px;
        }

        .trader-report{
            height: 550px;
            /* height: auto; */
        }
}
