/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --green:rgb(60, 204, 38);
    --pink:rgb(244, 52, 129);
    --yellow:rgb(255, 179, 1);
    --bg-color:rgb(237, 234, 234);
    --white:white;
}
body{
    background-color: var(--bg-color);
}

.admin-container{
    display: flex;
    max-width: 100%;
}
.part1{
    width: 20%;
    background-color: rgb(39, 35, 52);
    height: 100vh;
    overflow-y: scroll;
    overflow: hidden;
    margin-inline-end: 2px;
    box-shadow: 0px 2px 5px 0px gray;
}
.logo{
    width: 100%;
    text-align: center;
    padding-block: 2%;
    
}
.logo img{
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.side-links{
    display: flex;
    flex-direction: column;
    margin-block: 6%;
    margin-inline:15% ;  
    color: white;
}
.offcanvas-body , .offcanvas-header{
    background-color: rgb(39, 35, 52);
}

.home-link{
    display: flex;
    margin-block: 5px;
    padding-inline: 10px;
}

.home-link a{
    color: white;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 5px;
    text-decoration: none;
}
.home-link:hover {
    cursor: pointer;
    border-radius:20px ;
    background-color: rgb(255, 166, 0);
}

.logout {
    padding-block: 5px;
    padding-left: 10px;
    text-align: left;
    margin-block: 5px;
    font-size: 17px;
    font-weight: 500;
}
.logout a{
    text-decoration: none;
    color: gray;
}
.logout a:hover{
    color:orange;
    cursor: pointer;
}

.part2{
    width: 80%;
    display: flex;
    flex-direction: column;
   
}


.category-link{
    width: 100%;
    margin-block: 5px;
    display: flex;
    color: white;
    flex-direction: column; 
 }
 .dropdown{
     display: flex;
     justify-content: space-between;
     padding-inline: 10px;
 }
 .dropdown:hover{
     cursor: pointer;
     color: orange;
     border-radius:20px ;
     background-color: rgb(236, 209, 160);
 }
 
 .dropdown-link{
     display: flex;
 }
 .dropdown-link h4{
     font-weight: 500;
     font-size: 18px;
     padding-left: 5px;
 }
 .dropdown-link h4 , p{
     padding-top: 10px;
 }
 
 .dropdown-content{
     display: none;
 }
 
 .dropdown-content div{
     display: flex;
     flex-direction: column;
     padding-left: 10px;
     box-shadow: 0px 2px 5px 0px gray;
 }
 .dropdown-content div a{
     text-decoration: none;
     color: grey;
     padding-top: 10px;
     padding-inline: 10px;
 }
 .dropdown-content div a:hover{
     color: orange;
 }
 
 .material-symbols-outlined{
     padding: 5px;
     margin-top: 5px;  
 }

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-block: 10px;
    background-color: rgb(39, 35, 52);
    box-shadow: 0px 2px 5px 0px rgb(62, 62, 62);
}

.header1{
    display: flex;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 10px;
}
.header1 h5{
    padding-left: 15px;
    display: flex;
    column-gap: 10px;
    padding-block: px;  
    color: white;
  
}
.header1 h5 > p{
    font-size: 15px;
    color: gray;
    padding-block: 0px;
}

.header2{
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    padding-block: 10px;
    margin-inline: 10px;
    
}
.header2 h3{
    font-size: 25px;
    font-weight: 600;
    padding-block: 5px;
    background: -webkit-linear-gradient(rgb(60, 204, 38),rgb(255, 179, 1),rgb(244, 52, 129), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.header2 span{
    color:rgb(135, 126, 126);
    padding:1px;
    padding-block: 5px;
    text-align: center;
    border-radius: 50%;
}
.header2 .setting{
    padding-block: 10px;
    height: 150px;
}

.menu{
    display: none;
    columns: var(--white);
}
#get-link{
    padding-block: 5px;
}

#link p{
    font-size: 16px;
    padding: 3px;
}

/* content */
.content{
    height: 85vh;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
    display: none;
  }
  
  .content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

/* user css */

.user-container{
    display: flex;
    justify-content: left;
    margin-top: 1%;
    overflow-x: scroll;
    margin-inline: 1rem;
}

.user-container::-webkit-scrollbar {
    display: none;
  }
  
  .user-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

#red{
    color: red;
}  

#green{
    color: rgb(31, 175, 70);
}

#decline{
    background-color: var(--yellow);
    border-radius: 5px;
}  
#approve{
    background-color: var(--green);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.user-container table{
    color: black;
    border: none;
}
.user-container table tr th{
    background-color: rgb(39, 35, 52);
    color: white;
    padding-inline:50px;
    padding-block: 10px;
}
.user-container table tr td{
    text-align: center;
    padding-inline:20px;
    padding-block: 20px;
    font-size: 15px;
    /* border-bottom: 5px solid  rgb(20, 114, 114); */
    border-bottom: 5px solid rgb(39, 35, 52);

}
.user-container table tr td .action {
    display: flex;
    gap: 1rem;
    padding-inline: 5px;
}
.user-container table tr td .action a{
    text-decoration: none;
    padding-inline:20px ;
    padding-block: 8px;
    border-radius: 5px;
    /* background-color: rgb(20, 114, 114); */
    background-color:rgb(39, 35, 52);
    color:white;
}

.user-container table tr td .action a:hover{
    background-color: rgb(66, 255, 255);
    color:rgb(0, 0, 0);
}

/* user css */
.imgs{
    width: 70px;
}
.imgs img{
    width: 70px;
}

@media screen and (max-width:420px) {
    .part1{
        display: none;
    }
    .part2{
        width: 100%;
    }
    .dropdown-content{
        display: none;
    }
    .menu{
        display: block;
        color: white;
    }
}